body {
	margin: 0px;
	font-size: 75%;
	line-height: 150%;
	font-family: verdana, arial, helvetica, sans-serif;
	background-color: #DDD;
	color: white;
}

h1 {
    font-family: 'Ubuntu', Verdana, Helvetica, Arial, sans-serif;
	font-size: 125%;
	font-weight: normal;
	line-height: 100%;
	margin: 5px 0px;
}

#header h1 {
	color: maroon;
	text-align: left;
	font-size: 175%;
	margin: 5px 0px;	
}	

a {
	color: white;
	cursor: hand; 
	cursor: pointer;
}

#content a {
	color: maroon;
}

a:hover {
	text-decoration: underline;
	background-color: #DDD;
}

p {
	margin: 0px;
	margin-bottom: 10px;
}

#navbar ul li a.selected {
	color: white;
    background-color: #600000;
}

#container {
	padding: 0px;
	margin: 0px auto;
	max-width: 900px;
	background-color: white;
	text-align: left;
}

#header {
	padding: 0px 5px;
	font-weight: normal;
	background-color: white;
	text-align: center;
	color: #000000;
}

#header h1 {
	float: left;
}

#header img {
	height: 25px;
	float: right;
	padding-top: 5px;
}

#navbar {
	width: 100%;	
	overflow: hidden;
	clear: both;
	background-color:  #343734;
}

#navbar ul, #footer ul {
	padding: 0px;
	margin: 0px;

}

#navbar ul li {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	display: inline;
	float: left;
	text-align: center;
}

#content {
	background-color: white;
	color: black;
	padding: 20px;
	opacity: 0.9;
}

#footer ul li {
	display: inline-block;
	text-align: center;	
}

#navbar ul li a {
	margin: 0px;
	padding: 5px 0px;
	text-align: center;
	float: left;
	color: white;
	text-decoration: none;
	height: 1.5em;
	width: 100%;
    background-color: #222222;
}

#navbar a:hover {
	background-color: maroon;
	opacity: 1;
}

#footer ul li a {
	margin: 0px;
	padding: 0px;
	text-align: center;
	float: left;
	color: white;
	text-decoration: none;	
}

#footer {
	padding: 5px;
	text-align: center;
	color: white;
	background-color: #343734;
	clear: both;
}

.navSmall  { width: 25%; }
.navMedium { width: 33%; }
.navLarge  { width: 50%; }	

.navFooter { width: 25%; padding: 0px; margin: 0px; text-align: center; }

#footer .navSmall, #footer .navMedium, #footer .navLarge {
	width: auto;
	padding-right: 10px;
}

.tiny {
	font-size: 85%;
	line-height: 150%;
}

.features ul { 
	list-style-type: none;
	margin-left: 5px;
	margin-top: 0px;  
	margin-bottom: 0px;
	padding-left: 10px;
	padding-top: 0px;  
	padding-bottom: 0px;
}

.features li {
	background-image: url(arrow.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 1em;
}
	
@media screen and (min-width: 400px) {
	p, li {
		font-size: 115%;	
	}

	#header h1 {
		font-size: 225%;
		margin: 10px 0px;
	}

	#header img {
		height: 35px;			
	}	
}


@media screen and (min-width: 640px) {
	#header h1 {
		margin: 10px;
	}	

	#header img {
		height: 40px;			
	}	

	#navbar ul li a.selected {
	    background-image: -webkit-linear-gradient(rgba(128, 0, 0, .5) 50%, transparent 50%, transparent);
	}

	#navbar ul li a {
		background-image: -webkit-linear-gradient(rgba(60, 60, 60, 0.8) 50%, transparent 50%, transparent);	
	}

	.navMedium { width: 16.66%; }
	.navFooter { width: auto; margin-right: 10px; }

	#content {
		min-height: 500px;
	}

	.features ul {
		margin-left: 30px;
		margin-right: 30px;
		float: left;
	}
}

@media screen and (min-width: 750px) {
	body {
		margin: 6px;
	}

	#container {
		border-radius: 10px;
		box-shadow: 2px 2px 4px 4px #CCC;
	}	

	#footer {
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;		
	}

	#header h1 {
		font-size: 300%;
	}

	#header img {
		height: 45px;			
	}		

	#navbar {
		border-radius: 10px;
		width: 98%;	
		margin: 0px 1%;
	}		
}

@media screen and (min-width: 850px) {
	body {
		margin: 22px auto;
	}
}


/* Examples */
td {
	background-color: #EEE;
	padding: 5px 15px;
	border-top: 4px solid white;
	border-left: 2px solid white;
	width: 75px;
}

th {
	background-color: maroon;
	color: white;
	font-weight: bold;
	vertical-align: top;
	padding: 5px 15px;
	border-left: 2px solid white;
}

h2 {
	margin-top: 30px;
	margin-bottom: 20px;
	color: #222222;
}

h2 a {
	font-size: 0.7em;
	text-decoration: none;
}

pre.prettyprint {
	margin-bottom: 30px;
}

#example {
	 clear: both;
	 padding: 0px 20px;
}

#filters {
	float: left;
	width: 170px;
}

#table {
	float: left;
}

#example ul {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
}

#example ul li {
	margin: 0px;
	font-size: 100%;
}

.noUiSlider {
	width: 125px;
}

.noUiSliderLabel {
	padding-top: 0px;
	padding-bottom:  10px;
}

.filterSet a {
	font-weight: bold;
}

.filterSet {
	margin-bottom: 20px;
}

.filterContent {
	margin-left: 15px;
}

.selectLabel, .noUiSliderLabel {
	margin-left: -7px
}

p.refresh, p.openAll, p.closeAll {
	font-size: 90%;
	font-weight: normal;
	margin-bottom: 10px;
	margin-top: -5px;
	margin-right: 5px;
	margin-left: -3px;
}

p.closeAll {
	display: none;
}

p.openAll, p.closeAll {
	float: left;	
}

p.refresh img, p.openAll img, p.closeAll img {
	vertical-align: middle;
	padding-left: 3px;
}

#tariffTable th.sortable {
	padding-right: 25px;
	background: url(pointer.gif) no-repeat top right;
	background-color: maroon;
}

#tariffTable th.sorted-asc {
	background: url(pointer-active-asc.gif) no-repeat top right;
	background-color: maroon;	
}

#tariffTable th.sorted-desc {
	background: url(pointer-active-desc.gif) no-repeat top right;
	background-color: maroon;	
}

#example ul.pagination {
	text-align: right;
	margin: 5px 0px;
}

.pagination li {
	display: inline;
	padding: 0px 4px;
}

a.filterSelect {
	padding: 0 0 0 18px;
	background: url(open.jpg) no-repeat left top;
	display: inline-block;
}
a.filterSelect.opened { 
	background: url(close.gif) no-repeat left top; 
}

.noUi-midBar {
	background: #804444;
}

.noUi-handle > div:hover, .noUi-handle > div.noUi-activeHandle {
	background: #804444;
	border-color: #444;
}

.noUi-handle > div {
	background: #800000;
	border-color: #000;	
}
